$black: #283B4A
$grey: #557289
$grey-light: #E3EBF3
$grey-dark: #333333
$blue: #21669F
$blue-light: #F5F8FC
$grey-blue: #567189

$blue-grad: linear-gradient(315deg, #3FA1CA 0%, #21669F 100%)

$Fbold: Quasimodo-Bold

@font-face
    font-family: 'Quasimodo-Bold'
    src: url(./../fonts/Quasimoda-Bold.otf) format("opentype")

@font-face
    font-family: 'Quasimodo-ExtraBold'
    src: url(./../fonts/Quasimoda-ExtraBold.otf) format("opentype")

@font-face
    font-family: 'Quasimodo-Regular'
    src: url(./../fonts/Quasimoda-Regular.otf) format("opentype")

html
    scroll-behavior: smooth

body
    padding: 0
    margin: 0
    font-family: Quasimodo-Regular

.second-button
    font-size: 1rem
    font-weight: bold
    color: $blue
    transition: .2s ease
    text-decoration: none
    box-sizing: border-box
    padding: 0 2rem
    border-radius: 5px
    border: 1px solid $blue
    display: flex
    align-items: center
    font-family: $Fbold
    &:hover
        background: $blue
        color: white

.header
    width: 100%

    background: white

    position: fixed
    height: 145px
    transition: .5s ease
    top: 0
    display: flex
    flex-direction: column
    z-index: 1000
    transition-delay: .4s
    @media only screen and (max-width: 700px)
        height: 115px
    @media only screen and (max-width: 600px)
        height: 80px

    .top-header
        height: 35px

        display: flex
        justify-content: space-between
        background: $blue-light
        padding: 0 1rem
        @media only screen and (max-width: 600px)
            display: none

        .icon-info
            height: 15px
            width: 15px
            margin: auto 0

        .contacts-social
            margin: auto 0 auto auto
            display: flex
            gap: 1rem
            font-size: .8rem

            .contact
                margin: auto 0
                display: flex
                justify-content: center
                color: $grey
                text-decoration: none
                height: auto
                gap: .5rem

                .bold
                    color: $grey-dark
                    font-family: $Fbold

            .icon-social
                height: 26px
                width: 26px
                margin: auto 0
                display: flex
                transition: .3s ease
                border-radius: .5rem
                &:hover

                img
                    height: 14px
                    margin: auto
    .main-header
        width: 100%
        height: 110px

        display: flex
        justify-content: space-between
        box-sizing: border-box
        padding: 0 1rem
        background: white
        align-items: center
        @media only screen and (max-width: 1100px)
            justify-content: flex-end
        @media only screen and (max-width: 700px)
            height: 80px

        .logo
            margin: auto auto auto 0
            img
                height: 40px

                @media only screen and (max-width: 1100px)
                    margin: auto auto auto 0
                    height: 30px
                @media only screen and (max-width: 700px)
                    height: 26px

        .menu
            display: flex
            list-style-type: none
            margin: auto 0
            padding: 0
            @media only screen and (max-width: 1100px)
                position: fixed
                flex-direction: column
                text-align: center
                top: 50%
                left: 50%
                transform: translate(-50%, -55%)
                visibility: hidden
                opacity: 0
                transition: .5s ease
                transition-delay: .2s

            li
                margin: 0 1rem
                @media only screen and (max-width: 1100px)
                    margin: 1rem auto
                a
                    font-size: 1rem
                    font-weight: bold
                    color: $grey-dark
                    transition: .3s ease
                    text-decoration: none
                    &:hover
                        color: $blue

        .menu-active
            opacity: 1
            visibility: visible
            transform: translate(-50%, -50%)

        .login-button
            height: 44px
            @media only screen and (max-width: 700px)
                padding: 0 1rem

        .ham-menu
            position: relative
            margin: auto 0 auto 1rem
            height: 44px
            width: 44px
            padding: 0
            border-radius: 5px
            border: 1px solid $blue
            @media only screen and (min-width: 1101px)
                display: none

            .bread
                position: absolute
                width: 28px
                height: 4px
                border-radius: 2px
                background: $blue
                transition: .2s ease

            .bread-top
                top: 12px
                left: 8px
            .bread-bot
                bottom: 12px
                left: 8px

        .ham-menu-active

            .bread-top
                top: 20px
                left: 8px
                transform: rotate(45deg)
            .bread-bot
                bottom: 20px
                left: 8px
                transform: rotate(-45deg)

.header-active
    height: 100%
    transition-delay: 0s

.landing-image
    height: 670px
    width: 100%
    margin: 145px 0 0 0
    justify-content: center
    display: flex
    flex-direction: column
    background: url('../img/landing-bg-image.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    position: relative
    color: white
    text-align: center
    padding-bottom: 120px
    box-sizing: border-box
    z-index: 1
    @media only screen and (max-width: 700px)
        margin-top: 80px

    .landing-image-inner
        display: flex
        flex-direction: column
        width: 80%
        margin: auto

        h1
            margin: 0 0 2rem 0
            font-size: 3.5rem
            font-family: $Fbold
            @media only screen and (max-width: 1000px)
                font-size: 2.5rem
            @media only screen and (max-width: 800px)
                font-size: 1.8rem
                margin: 0 0 1rem 0

            span
                margin: 0 0 2rem 0
                font-size: 3.5rem
                text-decoration: underline
                @media only screen and (max-width: 1000px)
                    font-size: 2.5rem
                @media only screen and (max-width: 800px)
                    font-size: 1.8rem

        span
            font-size: 1.5rem
            @media only screen and (max-width: 800px)
                font-size: 1.3rem

    .send-symbol
        width: 300px
        position: absolute
        left: calc(50% - 150px)

.landing-form
    width: 96%
    max-width: 1200px

    margin: -120px auto 0 auto
    z-index: 5
    position: relative
    display: flex
    flex-direction: column
    border: 1px solid $grey-light
    border-radius: 20px

    .landing-form-type
        height: 120px
        width: 100%
        display: grid
        grid-template-columns: 1fr 1fr
        border-radius: 19px 19px 0 0
        overflow: hidden

        .from-type-select
            display: flex
            background: $blue-light

            .from-type-select-inner
                height: 100%

                display: flex
                margin: auto

                svg
                    height: 55px
                    margin: auto 0
                    @media only screen and (max-width: 800px)
                        height: 40px
                        width: auto

                span
                    margin: auto 0 auto 1rem
                    font-weight: bold
                    font-size: 1.6rem
                    font-family: $Fbold
                    color: $grey-blue
                    @media only screen and (max-width: 800px)
                        font-size: 1rem
                        margin: auto 0 auto .5rem

        .from-type-select-active
            background: white

            span
                color: $blue!important

            svg
                path
                    fill: $blue!important

    .ladning-form-inputs
        padding: 30px
        display: grid
        grid-gap: 1rem
        grid-template-rows: auto auto auto
        box-sizing: border-box

        .place
            display: grid
            grid-template-columns: 1fr 1fr
            grid-gap: 100px
            @media only screen and (max-width: 1000px)
                grid-template-columns: 1fr
                grid-gap: .5rem

            .place-select
                display: grid
                grid-template-rows: auto auto
                grid-gap: 1rem

                span
                    color: $black
                    font-size: 1rem
                    font-weight: bold
                    height: auto

                select
                    border: 1px solid $grey-light
                    height: 70px
                    border-radius: 8px
                    padding: 0 1rem
                    box-sizing: border-box
                    -webkit-appearance: none
                    background-image: url('../img/dropdown-icon.svg')
                    background-repeat: no-repeat
                    background-position: center right 1rem
                    margin: 0 .5rem

    .inputs-fields
        display: grid
        grid-template-rows: auto auto
        grid-gap: 1rem

        .inputs-fields-head
            color: $black
            font-size: 1rem
            font-weight: bold
            height: auto

        .inputs
            width: 100%

            display: flex
            flex-wrap: wrap
            justify-content: left
            & *
                margin: .5rem!important
                display: flex
                align-items: center

            .input-basic
                border: 1px solid $grey-light
                height: 70px
                border-radius: 8px
                padding: 0 1rem
                box-sizing: border-box
                margin: auto 0
                -webkit-appearance: none

            .times
                margin: auto 0

            .text
                margin: auto 0!important
                display: flex
                align-items: center
                color: $black
                height: 30px

                input
                    margin-right: .5rem

                .container
                    display: block
                    position: relative
                    padding-left: 35px
                    margin-bottom: 12px
                    cursor: pointer
                    font-size: 22px
                    -webkit-user-select: none
                    -moz-user-select: none
                    -ms-user-select: none
                    user-select: none
                    display: flex
                    align-items: center
                    & input
                        position: absolute
                        opacity: 0
                        cursor: pointer
                        height: 0
                        width: 0

                .checkmark
                    position: absolute
                    top: 0
                    left: 0
                    height: 25px
                    border: 1px solid $grey-light
                    width: 25px
                    background-color: white
                    transition: .3s ease
                    border-radius: 5px
                    margin-left: 0!important

                .container:hover input ~ .checkmark
                    background-color: $blue-light

                .container input:checked ~ .checkmark
                    background-color: $blue

                    &:after
                        content: ""
                        position: absolute
                        display: none

                .container input:checked ~ .checkmark:after
                    display: block

                .container .checkmark:after
                    left: 9px
                    top: 5px
                    width: 5px
                    height: 10px
                    border: solid white
                    border-width: 0 3px 3px 0
                    -webkit-transform: rotate(45deg)
                    -ms-transform: rotate(45deg)
                    transform: rotate(45deg)

                .label-text
                    font-size: 1rem
                    height: 25px

    .confirm-row
        display: flex
        justify-content: space-between
        box-sizing: border-box
        padding: 1rem 0 0 0
        position: relative
        border-top: 1px solid $grey-light
        @media only screen and (max-width: 900px)
            flex-direction: column

        .info-text
            display: flex
            padding: 1rem 1rem 1rem 0
            align-items: center
            color: $grey-blue

            img
                opacity: .6
                margin-right: 1rem

        .button
            text-decoration: none
            display: flex
            gap: 1rem
            height: 75px
            padding: 0 2rem
            font-size: 1rem
            font-family: $Fbold
            background: $blue-grad
            color: white
            align-items: center
            border-radius: 8px
            justify-content: center

.features-wrap
    display: flex
    justify-content: center
    position: relative
    width: 100%

    .logo
        position: absolute
        width: 96%
        z-index: 1
        opacity: .05
        bottom: 0
        left: 2%
        @media only screen and (max-width: 900px)
            display: none

    .features-inner
        display: grid
        grid-gap: 5rem
        width: 90%
        max-width: 1200px
        padding: 10rem 0 14rem 0
        margin: 0 auto
        position: relative
        @media only screen and (max-width: 900px)
            padding: 8rem 0
        @media only screen and (max-width: 700px)
            padding: 2rem 0

        .feature
            display: grid
            grid-template-columns: 1fr 1fr
            @media only screen and (max-width: 800px)
                display: flex
                flex-direction: column-reverse

            .feature-text-block
                display: flex
                flex-direction: column
                align-items: center
                z-index: 2

                h2
                    color: $black
                    font-family: $Fbold
                    font-size: 2.5rem
                    margin: auto auto 0 0

                    .break

                p
                    color: $grey
                    font-size: 1.3rem
                    margin: 1.5rem 0

                .button
                    height: 60px
                    width: auto
                    margin: 0 auto auto 0

            .feature-image
                display: flex

                img
                    width: 80%
                    margin: auto 0 auto auto
                    @media only screen and (max-width: 800px)
                        margin: auto auto 2rem auto

        .feature-reverse

            .feature-text-block
                order: 2
                @media only screen and (max-width: 800px)
                    order: 0

            .feature-image

                img
                    margin: auto auto auto 0!important
                    @media only screen and (max-width: 800px)
                        margin: auto auto 2rem auto!important

.how-it-works
    width: 90%
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    margin: 5rem auto

    h2
        color: $black
        font-family: $Fbold
        font-size: 2.5rem
        margin: auto auto 0 0

    p
        color: $grey
        font-size: 1.3rem
        margin: 1rem 0 2rem 0

    .button
        margin: 0 auto
        width: 100%
        max-width: 500px
        height: 160px
        display: grid
        grid-template-columns: 1fr 1fr
        border: 1px solid $grey-light
        border-radius: 20px
        box-shadow: 0px 10px 45px rgba(2, 86, 199, 0.149)

        .border
            border-left: 1px solid $grey-light

        a
            display: flex
            flex-direction: column
            text-decoration: none
            &:hover
                svg
                    path
                        fill: $blue

                span
                    color: $blue

            svg
                margin: auto auto 0 auto

            span
                font-family: $Fbold
                margin: 1rem auto auto auto
                color: $grey

.process
    width: 100%
    height: auto
    padding: 5rem 0
    background: $blue-light
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center

    .step
        display: flex
        width: 400px
        padding: 2rem 3rem
        box-sizing: border-box
        flex-direction: column
        text-align: center
        align-items: center

        .icon-wrap
            width: 80px
            height: 80px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 100px
            background: linear-gradient(315deg, #3FA1CA 0%, #21669F 100%), #21669F
            box-shadow: 0px 5px 15px rgba(2, 86, 199, 0.3)

        .text

            h2
                font-family: $Fbold
                color: $blue
                font-size: 1.5rem
                margin: 1.5rem auto 0 auto

            p
                margin: .5rem auto auto auto
                color: $grey

.slogan
    height: 400px
    width: 100%
    background: url('../../assets/img/slogan-bg.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    display: flex
    flex-direction: column
    text-align: center
    position: relative

    h2
        color: white
        font-family: $Fbold
        font-size: 3rem
        margin: auto auto 1rem auto
        width: 90%
        @media only screen and (max-width: 800px)
            font-size: 2rem

    p
        color: white
        font-size: 1.5rem
        margin: 0 auto auto auto
        width: 90%
        @media only screen and (max-width: 800px)
            font-size: 1rem

    svg
        position: absolute
        height: 100%
        left: 50%
        transform: translateX(-60%)

.footer
    display: flex
    flex-direction: column
    width: 100%
    background: $black
    align-items: center

    .navigation
        display: flex
        justify-content: space-between
        width: 70%
        max-width: 1000px
        flex-wrap: wrap
        padding: 5rem 0 7rem 0
        @media only screen and (max-width: 1000px)
            grid-gap: 10rem
        @media only screen and (max-width: 600px)
            grid-gap: 3rem

        .column
            display: flex
            flex-direction: column

            h2
                text-transform: uppercase
                font-family: $Fbold
                font-size: 1.5rem
                margin: 0 0 1rem 0
                color: white

            a
                text-decoration: none
                color: $grey
                margin: .5rem 0
                &:hover
                    text-decoration: underline

    .copyright
        border-top: 2px solid $grey
        width: 100%
        padding: 1rem 0
        text-align: center
        color: $grey
        font-size: .8rem

.anchor-section
    scroll-margin-top: 150px
    @media only screen and (max-width: 900px)
        scroll-margin-top: 130px
    @media only screen and (max-width: 600px)
        scroll-margin-top: 100pxs
