@font-face {
  font-family: "Quasimodo-Bold";
  src: url(./../fonts/Quasimoda-Bold.otf) format("opentype");
}
@font-face {
  font-family: "Quasimodo-ExtraBold";
  src: url(./../fonts/Quasimoda-ExtraBold.otf) format("opentype");
}
@font-face {
  font-family: "Quasimodo-Regular";
  src: url(./../fonts/Quasimoda-Regular.otf) format("opentype");
}
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: Quasimodo-Regular;
}

.second-button {
  font-size: 1rem;
  font-weight: bold;
  color: #21669F;
  transition: 0.2s ease;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0 2rem;
  border-radius: 5px;
  border: 1px solid #21669F;
  display: flex;
  align-items: center;
  font-family: Quasimodo-Bold;
}
.second-button:hover {
  background: #21669F;
  color: white;
}

.header {
  width: 100%;
  background: white;
  position: fixed;
  height: 145px;
  transition: 0.5s ease;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  transition-delay: 0.4s;
}
@media only screen and (max-width: 700px) {
  .header {
    height: 115px;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    height: 80px;
  }
}
.header .top-header {
  height: 35px;
  display: flex;
  justify-content: space-between;
  background: #F5F8FC;
  padding: 0 1rem;
}
@media only screen and (max-width: 600px) {
  .header .top-header {
    display: none;
  }
}
.header .top-header .icon-info {
  height: 15px;
  width: 15px;
  margin: auto 0;
}
.header .top-header .contacts-social {
  margin: auto 0 auto auto;
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
}
.header .top-header .contacts-social .contact {
  margin: auto 0;
  display: flex;
  justify-content: center;
  color: #557289;
  text-decoration: none;
  height: auto;
  gap: 0.5rem;
}
.header .top-header .contacts-social .contact .bold {
  color: #333333;
  font-family: Quasimodo-Bold;
}
.header .top-header .contacts-social .icon-social {
  height: 26px;
  width: 26px;
  margin: auto 0;
  display: flex;
  transition: 0.3s ease;
  border-radius: 0.5rem;
}
.header .top-header .contacts-social .icon-social img {
  height: 14px;
  margin: auto;
}
.header .main-header {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 1rem;
  background: white;
  align-items: center;
}
@media only screen and (max-width: 1100px) {
  .header .main-header {
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 700px) {
  .header .main-header {
    height: 80px;
  }
}
.header .main-header .logo {
  margin: auto auto auto 0;
}
.header .main-header .logo img {
  height: 40px;
}
@media only screen and (max-width: 1100px) {
  .header .main-header .logo img {
    margin: auto auto auto 0;
    height: 30px;
  }
}
@media only screen and (max-width: 700px) {
  .header .main-header .logo img {
    height: 26px;
  }
}
.header .main-header .menu {
  display: flex;
  list-style-type: none;
  margin: auto 0;
  padding: 0;
}
@media only screen and (max-width: 1100px) {
  .header .main-header .menu {
    position: fixed;
    flex-direction: column;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
    transition-delay: 0.2s;
  }
}
.header .main-header .menu li {
  margin: 0 1rem;
}
@media only screen and (max-width: 1100px) {
  .header .main-header .menu li {
    margin: 1rem auto;
  }
}
.header .main-header .menu li a {
  font-size: 1rem;
  font-weight: bold;
  color: #333333;
  transition: 0.3s ease;
  text-decoration: none;
}
.header .main-header .menu li a:hover {
  color: #21669F;
}
.header .main-header .menu-active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}
.header .main-header .login-button {
  height: 44px;
}
@media only screen and (max-width: 700px) {
  .header .main-header .login-button {
    padding: 0 1rem;
  }
}
.header .main-header .ham-menu {
  position: relative;
  margin: auto 0 auto 1rem;
  height: 44px;
  width: 44px;
  padding: 0;
  border-radius: 5px;
  border: 1px solid #21669F;
}
@media only screen and (min-width: 1101px) {
  .header .main-header .ham-menu {
    display: none;
  }
}
.header .main-header .ham-menu .bread {
  position: absolute;
  width: 28px;
  height: 4px;
  border-radius: 2px;
  background: #21669F;
  transition: 0.2s ease;
}
.header .main-header .ham-menu .bread-top {
  top: 12px;
  left: 8px;
}
.header .main-header .ham-menu .bread-bot {
  bottom: 12px;
  left: 8px;
}
.header .main-header .ham-menu-active .bread-top {
  top: 20px;
  left: 8px;
  transform: rotate(45deg);
}
.header .main-header .ham-menu-active .bread-bot {
  bottom: 20px;
  left: 8px;
  transform: rotate(-45deg);
}

.header-active {
  height: 100%;
  transition-delay: 0s;
}

.landing-image {
  height: 670px;
  width: 100%;
  margin: 145px 0 0 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: url("../img/landing-bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  text-align: center;
  padding-bottom: 120px;
  box-sizing: border-box;
  z-index: 1;
}
@media only screen and (max-width: 700px) {
  .landing-image {
    margin-top: 80px;
  }
}
.landing-image .landing-image-inner {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.landing-image .landing-image-inner h1 {
  margin: 0 0 2rem 0;
  font-size: 3.5rem;
  font-family: Quasimodo-Bold;
}
@media only screen and (max-width: 1000px) {
  .landing-image .landing-image-inner h1 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 800px) {
  .landing-image .landing-image-inner h1 {
    font-size: 1.8rem;
    margin: 0 0 1rem 0;
  }
}
.landing-image .landing-image-inner h1 span {
  margin: 0 0 2rem 0;
  font-size: 3.5rem;
  text-decoration: underline;
}
@media only screen and (max-width: 1000px) {
  .landing-image .landing-image-inner h1 span {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 800px) {
  .landing-image .landing-image-inner h1 span {
    font-size: 1.8rem;
  }
}
.landing-image .landing-image-inner span {
  font-size: 1.5rem;
}
@media only screen and (max-width: 800px) {
  .landing-image .landing-image-inner span {
    font-size: 1.3rem;
  }
}
.landing-image .send-symbol {
  width: 300px;
  position: absolute;
  left: calc(50% - 150px);
}

.landing-form {
  width: 96%;
  max-width: 1200px;
  margin: -120px auto 0 auto;
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #E3EBF3;
  border-radius: 20px;
}
.landing-form .landing-form-type {
  height: 120px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 19px 19px 0 0;
  overflow: hidden;
}
.landing-form .landing-form-type .from-type-select {
  display: flex;
  background: #F5F8FC;
}
.landing-form .landing-form-type .from-type-select .from-type-select-inner {
  height: 100%;
  display: flex;
  margin: auto;
}
.landing-form .landing-form-type .from-type-select .from-type-select-inner svg {
  height: 55px;
  margin: auto 0;
}
@media only screen and (max-width: 800px) {
  .landing-form .landing-form-type .from-type-select .from-type-select-inner svg {
    height: 40px;
    width: auto;
  }
}
.landing-form .landing-form-type .from-type-select .from-type-select-inner span {
  margin: auto 0 auto 1rem;
  font-weight: bold;
  font-size: 1.6rem;
  font-family: Quasimodo-Bold;
  color: #567189;
}
@media only screen and (max-width: 800px) {
  .landing-form .landing-form-type .from-type-select .from-type-select-inner span {
    font-size: 1rem;
    margin: auto 0 auto 0.5rem;
  }
}
.landing-form .landing-form-type .from-type-select-active {
  background: white;
}
.landing-form .landing-form-type .from-type-select-active span {
  color: #21669F !important;
}
.landing-form .landing-form-type .from-type-select-active svg path {
  fill: #21669F !important;
}
.landing-form .ladning-form-inputs {
  padding: 30px;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: auto auto auto;
  box-sizing: border-box;
}
.landing-form .ladning-form-inputs .place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
}
@media only screen and (max-width: 1000px) {
  .landing-form .ladning-form-inputs .place {
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
  }
}
.landing-form .ladning-form-inputs .place .place-select {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 1rem;
}
.landing-form .ladning-form-inputs .place .place-select span {
  color: #283B4A;
  font-size: 1rem;
  font-weight: bold;
  height: auto;
}
.landing-form .ladning-form-inputs .place .place-select select {
  border: 1px solid #E3EBF3;
  height: 70px;
  border-radius: 8px;
  padding: 0 1rem;
  box-sizing: border-box;
  -webkit-appearance: none;
  background-image: url("../img/dropdown-icon.svg");
  background-repeat: no-repeat;
  background-position: center right 1rem;
  margin: 0 0.5rem;
}
.landing-form .inputs-fields {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 1rem;
}
.landing-form .inputs-fields .inputs-fields-head {
  color: #283B4A;
  font-size: 1rem;
  font-weight: bold;
  height: auto;
}
.landing-form .inputs-fields .inputs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.landing-form .inputs-fields .inputs * {
  margin: 0.5rem !important;
  display: flex;
  align-items: center;
}
.landing-form .inputs-fields .inputs .input-basic {
  border: 1px solid #E3EBF3;
  height: 70px;
  border-radius: 8px;
  padding: 0 1rem;
  box-sizing: border-box;
  margin: auto 0;
  -webkit-appearance: none;
}
.landing-form .inputs-fields .inputs .times {
  margin: auto 0;
}
.landing-form .inputs-fields .inputs .text {
  margin: auto 0 !important;
  display: flex;
  align-items: center;
  color: #283B4A;
  height: 30px;
}
.landing-form .inputs-fields .inputs .text input {
  margin-right: 0.5rem;
}
.landing-form .inputs-fields .inputs .text .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
}
.landing-form .inputs-fields .inputs .text .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.landing-form .inputs-fields .inputs .text .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  border: 1px solid #E3EBF3;
  width: 25px;
  background-color: white;
  transition: 0.3s ease;
  border-radius: 5px;
  margin-left: 0 !important;
}
.landing-form .inputs-fields .inputs .text .container:hover input ~ .checkmark {
  background-color: #F5F8FC;
}
.landing-form .inputs-fields .inputs .text .container input:checked ~ .checkmark {
  background-color: #21669F;
}
.landing-form .inputs-fields .inputs .text .container input:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.landing-form .inputs-fields .inputs .text .container input:checked ~ .checkmark:after {
  display: block;
}
.landing-form .inputs-fields .inputs .text .container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.landing-form .inputs-fields .inputs .text .label-text {
  font-size: 1rem;
  height: 25px;
}
.landing-form .confirm-row {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem 0 0 0;
  position: relative;
  border-top: 1px solid #E3EBF3;
}
@media only screen and (max-width: 900px) {
  .landing-form .confirm-row {
    flex-direction: column;
  }
}
.landing-form .confirm-row .info-text {
  display: flex;
  padding: 1rem 1rem 1rem 0;
  align-items: center;
  color: #567189;
}
.landing-form .confirm-row .info-text img {
  opacity: 0.6;
  margin-right: 1rem;
}
.landing-form .confirm-row .button {
  text-decoration: none;
  display: flex;
  gap: 1rem;
  height: 75px;
  padding: 0 2rem;
  font-size: 1rem;
  font-family: Quasimodo-Bold;
  background: linear-gradient(315deg, #3FA1CA 0%, #21669F 100%);
  color: white;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}

.features-wrap {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.features-wrap .logo {
  position: absolute;
  width: 96%;
  z-index: 1;
  opacity: 0.05;
  bottom: 0;
  left: 2%;
}
@media only screen and (max-width: 900px) {
  .features-wrap .logo {
    display: none;
  }
}
.features-wrap .features-inner {
  display: grid;
  grid-gap: 5rem;
  width: 90%;
  max-width: 1200px;
  padding: 10rem 0 14rem 0;
  margin: 0 auto;
  position: relative;
}
@media only screen and (max-width: 900px) {
  .features-wrap .features-inner {
    padding: 8rem 0;
  }
}
@media only screen and (max-width: 700px) {
  .features-wrap .features-inner {
    padding: 2rem 0;
  }
}
.features-wrap .features-inner .feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 800px) {
  .features-wrap .features-inner .feature {
    display: flex;
    flex-direction: column-reverse;
  }
}
.features-wrap .features-inner .feature .feature-text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.features-wrap .features-inner .feature .feature-text-block h2 {
  color: #283B4A;
  font-family: Quasimodo-Bold;
  font-size: 2.5rem;
  margin: auto auto 0 0;
}
.features-wrap .features-inner .feature .feature-text-block p {
  color: #557289;
  font-size: 1.3rem;
  margin: 1.5rem 0;
}
.features-wrap .features-inner .feature .feature-text-block .button {
  height: 60px;
  width: auto;
  margin: 0 auto auto 0;
}
.features-wrap .features-inner .feature .feature-image {
  display: flex;
}
.features-wrap .features-inner .feature .feature-image img {
  width: 80%;
  margin: auto 0 auto auto;
}
@media only screen and (max-width: 800px) {
  .features-wrap .features-inner .feature .feature-image img {
    margin: auto auto 2rem auto;
  }
}
.features-wrap .features-inner .feature-reverse .feature-text-block {
  order: 2;
}
@media only screen and (max-width: 800px) {
  .features-wrap .features-inner .feature-reverse .feature-text-block {
    order: 0;
  }
}
.features-wrap .features-inner .feature-reverse .feature-image img {
  margin: auto auto auto 0 !important;
}
@media only screen and (max-width: 800px) {
  .features-wrap .features-inner .feature-reverse .feature-image img {
    margin: auto auto 2rem auto !important;
  }
}

.how-it-works {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5rem auto;
}
.how-it-works h2 {
  color: #283B4A;
  font-family: Quasimodo-Bold;
  font-size: 2.5rem;
  margin: auto auto 0 0;
}
.how-it-works p {
  color: #557289;
  font-size: 1.3rem;
  margin: 1rem 0 2rem 0;
}
.how-it-works .button {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  height: 160px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #E3EBF3;
  border-radius: 20px;
  box-shadow: 0px 10px 45px rgba(2, 86, 199, 0.149);
}
.how-it-works .button .border {
  border-left: 1px solid #E3EBF3;
}
.how-it-works .button a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.how-it-works .button a:hover svg path {
  fill: #21669F;
}
.how-it-works .button a:hover span {
  color: #21669F;
}
.how-it-works .button a svg {
  margin: auto auto 0 auto;
}
.how-it-works .button a span {
  font-family: Quasimodo-Bold;
  margin: 1rem auto auto auto;
  color: #557289;
}

.process {
  width: 100%;
  height: auto;
  padding: 5rem 0;
  background: #F5F8FC;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.process .step {
  display: flex;
  width: 400px;
  padding: 2rem 3rem;
  box-sizing: border-box;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.process .step .icon-wrap {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: linear-gradient(315deg, #3FA1CA 0%, #21669F 100%), #21669F;
  box-shadow: 0px 5px 15px rgba(2, 86, 199, 0.3);
}
.process .step .text h2 {
  font-family: Quasimodo-Bold;
  color: #21669F;
  font-size: 1.5rem;
  margin: 1.5rem auto 0 auto;
}
.process .step .text p {
  margin: 0.5rem auto auto auto;
  color: #557289;
}

.slogan {
  height: 400px;
  width: 100%;
  background: url("../../assets/img/slogan-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.slogan h2 {
  color: white;
  font-family: Quasimodo-Bold;
  font-size: 3rem;
  margin: auto auto 1rem auto;
  width: 90%;
}
@media only screen and (max-width: 800px) {
  .slogan h2 {
    font-size: 2rem;
  }
}
.slogan p {
  color: white;
  font-size: 1.5rem;
  margin: 0 auto auto auto;
  width: 90%;
}
@media only screen and (max-width: 800px) {
  .slogan p {
    font-size: 1rem;
  }
}
.slogan svg {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-60%);
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #283B4A;
  align-items: center;
}
.footer .navigation {
  display: flex;
  justify-content: space-between;
  width: 70%;
  max-width: 1000px;
  flex-wrap: wrap;
  padding: 5rem 0 7rem 0;
}
@media only screen and (max-width: 1000px) {
  .footer .navigation {
    grid-gap: 10rem;
  }
}
@media only screen and (max-width: 600px) {
  .footer .navigation {
    grid-gap: 3rem;
  }
}
.footer .navigation .column {
  display: flex;
  flex-direction: column;
}
.footer .navigation .column h2 {
  text-transform: uppercase;
  font-family: Quasimodo-Bold;
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
  color: white;
}
.footer .navigation .column a {
  text-decoration: none;
  color: #557289;
  margin: 0.5rem 0;
}
.footer .navigation .column a:hover {
  text-decoration: underline;
}
.footer .copyright {
  border-top: 2px solid #557289;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  color: #557289;
  font-size: 0.8rem;
}

.anchor-section {
  scroll-margin-top: 150px;
}
@media only screen and (max-width: 900px) {
  .anchor-section {
    scroll-margin-top: 130px;
  }
}
@media only screen and (max-width: 600px) {
  .anchor-section {
    scroll-margin-top: 100pxs;
  }
}/*# sourceMappingURL=homepage.css.map */